@page "/counter"

@using BlazorMauiApp1.Data
@inject CounterService CounterService

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
		CounterService.ClickDelegate(null, null);
	}
}
