@page "/"

<h2>Tic Tac Toe game</h2>
<hr />

<div>
	<button class="btn btn-primary" @onclick="NewSinglePlayerGame">
		New single player game
	</button>
</div>
<br />
<div>
	<button class="btn btn-primary" @onclick="NewMultiPlayerGame">
		New multi player game
	</button>
</div>
